

<form method="POST" action="/">
  <p>Enter the puppy info</p>
  <p>Name: <input type="text" name="name"></p>
  <p>Breed: <input type="text" name="breed"></p>
  <p>Age: <input type="text" name="age"></p>
  <input type="submit" id="submit">
</form>
